.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 500px;
    margin: auto;
    margin-top: -25px;
    /* This centers the form if the parent container is wider */
    /* Add any additional styling here */
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    margin-top: 20px;
}

.login-button,
.demo-login-button {
    flex: 1;
    /* This makes both buttons take up equal space */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0063dc;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.login-button:hover,
.demo-login-button:hover {
    background-color: #347FDB;
}

.email-input,
.password-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}


.email-input input,
.password-input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-validations {
    display: flex;
    text-align: center;
    font-style: italic;
    font-size: 13px;
    color: #682C2C;
    margin: 7px;
    margin-top: 11px;
    margin-bottom: 3px;
}
