.main-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    margin-top: 50px;
}

.post-image {
    flex: 1;
    margin-bottom: 10px;
    line-height: 0;
}

.post-image img {
    height: 300px;
    width: auto;
    object-fit: contain;
}

.top-text {
    margin-top: 70px;
    margin-bottom: -45px;
    margin-left: 10px;
    font-weight: bold;
}
