/* CreatePost.css */
.createpost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.character-count2 {
    display: flex;
    font-style: italic;
    font-size: 13px;
    color: gray;
    margin-bottom: -15px;
    width: 100%;
}


.otter-header {
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: -40px;
}

.createpost-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
}

.createpost-text,
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-post-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.create-post-button:hover {
    background-color: #0056b3;
}

.no-image-error {
    display: flex;
    font-style: italic;
    font-size: 13px;
    color: gray;
    width: 100%;
    margin-bottom: -20px;
    margin-top: -10px;
}
